<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">

	<!-- 控制台 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger.%M:%L - %msg%n</pattern> -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %caller{1} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/tmp/user/devils/logs/easy-devils.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/tmp/user/devils/logs/easy-devils-%d{yyyy-MM}.%i.log.gz</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>300MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>
	<!--  -->
	<if condition='!"test".equals("${env}")'>
		<then>
			<root level="ERROR">
				<appender-ref ref="file" />
			</root>
		</then>
		<else>
			<root level="ERROR">
				<appender-ref ref="console" />
			</root>
		</else>
	</if>

	<logger name="org.apache" level="WARN" />
	<logger name="org.springframework" level="WARN" />
	<logger name="easy.devils" level="INFO" />
</configuration>
